<EditForm Model="@AddEditDocumentModel" OnValidSubmit="SaveAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
            @{
                if (AddEditDocumentModel.Id == 0)
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                        @localizer["Add Document"]
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                        @localizer["Update Document"]
                    </MudText>
                }
            }
        </TitleContent>
        <DialogContent>
            <MudGrid>
                @if (AddEditDocumentModel.Id != 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => AddEditDocumentModel.Id)" @bind-Value="AddEditDocumentModel.Id" Label="@localizer["Id"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditDocumentModel.Title)" @bind-Value="AddEditDocumentModel.Title" Label="@localizer["Title"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditDocumentModel.Description)" @bind-Value="AddEditDocumentModel.Description" Label="@localizer["Description"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudCheckBox For="@(() => AddEditDocumentModel.IsPublic)" @bind-Checked="AddEditDocumentModel.IsPublic" Label="@localizer["Is Public?"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudItem>
                        @if (file != null)
                        {
                            <MudAlert>@file.Name</MudAlert>
                        }
                        @if (AddEditDocumentModel.Id != 0 && !string.IsNullOrEmpty(AddEditDocumentModel.URL))
                        {
                            <MudAlert>@(AddEditDocumentModel.URL)</MudAlert>
                        }
                        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        <div>
                            @if (AddEditDocumentModel.Id == 0)
                            {
                                <MudButton HtmlTag="label"
                                           Variant="Variant.Text"
                                           Color="Color.Primary"
                                           Size="Size.Small"
                                           StartIcon="@Icons.Filled.CloudUpload"
                                           for="fileInput">
                                    @localizer["Upload"]
                                </MudButton>
                            }
                            else if (!string.IsNullOrEmpty(AddEditDocumentModel.URL))
                            {
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Secondary"
                                           StartIcon="@Icons.Filled.CloudDownload"
                                           Size="Size.Small"
                                           Link="@(AddEditDocumentModel.URL)" Target="_blank">
                                    @localizer["Download"]
                                </MudButton>

                            }
                        </div>
                    </MudItem>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" OnClick="Cancel">@localizer["Cancel"]</MudButton>
            @if (AddEditDocumentModel.Id != 0)
            {
                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!validated)" Color="Color.Secondary">@localizer["Update"]</MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!validated)" Color="Color.Success">@localizer["Save"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>