@page "/document-store"
@inject Microsoft.Extensions.Localization.IStringLocalizer<DocumentStore> localizer
@using BlazorHero.CleanArchitecture.Application.Features.Documents.Queries.GetAll
<HeroTitle Title="@localizer["Document Store"]" Description="@localizer["Browse Available Documents."]" />

<MudTable Elevation="25" ServerData="@(new Func<TableState, Task<TableData<GetAllDocumentsResponse>>>(ServerReload))" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="table">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(()=>InvokeModal(0))">@localizer["Create"]</MudButton>
            <MudButton Variant="Variant.Filled" OnClick="@(()=>OnSearch(""))" Color="Color.Secondary">@localizer["Reload"]</MudButton>
        </div>
        <MudToolBarSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="@localizer["Search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel T="GetAllDocumentsResponse" SortLabel="documentIdField">@localizer["Id"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllDocumentsResponse" SortLabel="documentTitleField">@localizer["Title"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllDocumentsResponse" SortLabel="documentDescriptionField">@localizer["Description"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllDocumentsResponse" SortLabel="documentIsPublicField">@localizer["Is Public"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllDocumentsResponse" SortLabel="documentDateCreatedField">@localizer["Date Created"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllDocumentsResponse" SortLabel="documentOwnerField">@localizer["Owner"]</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:right">@localizer["Actions"]</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Title">
            <MudHighlighter Text="@context.Title" HighlightedText="@searchString" />
        </MudTd>
        <MudTd DataLabel="Description">
            <MudHighlighter Text="@context.Description" HighlightedText="@searchString" />
        </MudTd>
        <MudTd DataLabel="IsPublic"><MudCheckBox @bind-Checked="@context.IsPublic" ReadOnly="true" Color="Color.Secondary" /></MudTd>
        <MudTd DataLabel="Date Created">@context.CreatedOn</MudTd>
        <MudTd DataLabel="Owner">
            @if (context.CreatedBy == CurrentUserId)
            {
                <MudChip Icon="@Icons.Material.Filled.Face" IconColor="Color.Secondary" Label="true" Color="Color.Surface">you</MudChip>
            }
        </MudTd>
        <MudTd DataLabel="Actions" Style="text-align:right">
            <MudMenu Label="@localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary">
                @if (context.CreatedBy == CurrentUserId)
                {
                    <MudMenuItem @onclick="@(()=>InvokeModal(@context.Id))">@localizer["Edit"]</MudMenuItem>
                    <MudMenuItem @onclick="@(()=>Delete(@context.Id))">@localizer["Delete"]</MudMenuItem>
                }

                <MudMenuItem Link="@context.URL" Target="_blank">@localizer["Download"]</MudMenuItem>
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <FooterContent>
        <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@localizer["Dense"]</MudSwitch>
        <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@localizer["Striped"]</MudSwitch>
        <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@localizer["Bordered"]</MudSwitch>
    </FooterContent>
    <PagerContent>
        <TablePager />
    </PagerContent>
</MudTable>