@inject Microsoft.Extensions.Localization.IStringLocalizer<AddEditProductModal> localizer

<MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
    <MudDialog>
        <TitleContent>
            @{
                if (Id == 0)
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                        @localizer["Add Product"]
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                        @localizer["Update Product"]
                    </MudText>
                }
            }
        </TitleContent>
        <DialogContent>
            <MudGrid>
                @if (Id != 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => Id)" @bind-Value="Id" Required="true" Label="@localizer["Id"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => Name)" @bind-Value="Name" Required="true" Label="@localizer["Name"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => Description)" @bind-Value="Description" Required="true" Label="@localizer["Description"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="int" Label="@localizer["Brand"]" For="@(() => BrandId)" Required="true" @bind-Value="BrandId" Variant="Variant.Filled" Text="@Brand">
                        @foreach (var brand in Brands)
                        {
                            <MudSelectItem T="int" Value="@(brand.Id)">@brand.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => Rate)" @bind-Value="Rate" Required="true" Label="@localizer["Rate"]" />
                </MudItem>
                @if (Id == 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField For="@(() => Barcode)" Required="true" @bind-Value="Barcode" Label="@localizer["Barcode"]" />
                    </MudItem>
                }
                else
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => Barcode)" Required="true" @bind-Value="Barcode" Label="@localizer["Barcode"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudItem>
                        <MudAvatar Image="@ImageDataUrl" Square="true" Style="height:auto; width:auto; max-height:100%"> </MudAvatar>
                    </MudItem>
                    <MudItem>
                        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        <div>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Text"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       StartIcon="@Icons.Filled.CloudUpload"
                                       for="fileInput">
                                @localizer["Upload"]
                            </MudButton>
                            @if (!string.IsNullOrEmpty(@ImageDataUrl))
                            {
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Info"
                                           StartIcon="@Icons.Filled.RemoveRedEye"
                                           Size="Size.Small"
                                           Link="@ImageDataUrl" Target="_blank">
                                    @localizer["View"]
                                </MudButton>
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Error"
                                           StartIcon="@Icons.Filled.Delete"
                                           Size="Size.Small"
                                           OnClick="DeleteAsync">
                                    @localizer["Delete"]
                                </MudButton>

                            }
                        </div>
                    </MudItem>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" OnClick="Cancel">@localizer["Cancel"]</MudButton>
            @if (Id != 0)
            {
                <MudButton Variant="Variant.Filled" OnClick="SaveAsync" Disabled="@(!success)"  Color="Color.Secondary">@localizer["Update"]</MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Filled" OnClick="SaveAsync" Disabled="@(!success)" Color="Color.Success">@localizer["Save"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</MudForm>