@page "/catalog/products"
@using BlazorHero.CleanArchitecture.Application.Features.Products.Queries.GetAllPaged;
@inject Microsoft.Extensions.Localization.IStringLocalizer<Products> localizer
<HeroTitle Title="@localizer["Products"]" Description="@localizer["Manage Products."]" />
<MudTable Elevation="25" ServerData="@(new Func<TableState, Task<TableData<GetAllPagedProductsResponse>>>(ServerReload))" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="table">
    <ToolBarContent>

        @if (_authorizationService.AuthorizeAsync(AuthenticationStateProviderUser, Permissions.Products.Create).Result.Succeeded)
        {
            <div class="justify-center mud-text-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(()=>InvokeModal(0))">@localizer["Create"]</MudButton>
                <MudButton Variant="Variant.Filled" OnClick="@(()=>OnSearch(""))" Color="Color.Secondary">@localizer["Reload"]</MudButton>
                <MudButton Variant="Variant.Filled" OnClick="@(ExportToExcel)" Color="Color.Surface">@localizer["Export"]</MudButton>
            </div>
        }
        <MudToolBarSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="@localizer["Search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="productIdField">@localizer["Id"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="productNameField">@localizer["Name"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="productBrandField">@localizer["Brand"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="productDescriptionField">@localizer["Description"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="productBarcodeField">@localizer["Barcode"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="productRateField">@localizer["Rate"]</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:right">@localizer["Actions"]</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">
            <MudHighlighter Text="@context.Name" HighlightedText="@searchString" />
        </MudTd>
        <MudTd DataLabel="Brand">@context.Brand</MudTd>
        <MudTd DataLabel="Description">
            <MudHighlighter Text="@context.Description" HighlightedText="@searchString" />
        </MudTd>
        <MudTd DataLabel="Barcode">
            <MudHighlighter Text="@context.Barcode" HighlightedText="@searchString" />
        </MudTd>
        <MudTd DataLabel="Rate">@context.Rate</MudTd>
        <MudTd DataLabel="Actions" Style="text-align:right">
            <MudMenu Label="@localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary">
                <MudMenuItem @onclick="@(()=>InvokeModal(@context.Id))">@localizer["Edit"]</MudMenuItem>
                <MudMenuItem @onclick="@(()=>Delete(@context.Id))">@localizer["Delete"]</MudMenuItem>
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <FooterContent>
        <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@localizer["Dense"]</MudSwitch>
        <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@localizer["Striped"]</MudSwitch>
        <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@localizer["Bordered"]</MudSwitch>
    </FooterContent>
    <PagerContent>
        <TablePager />
    </PagerContent>
</MudTable>