@page "/home"
@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Home> _localizer
<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <MudIcon Icon="@CustomIcons.BlazorHero" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 250px; height: 250px;" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2" Class="mt-4">@_localizer["Title"]</MudText>
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">@_localizer["Description"]</MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center">
                @_localizer["Blazor Hero Description"] <MudLink Href="https://www.mudblazor.com" Target="_blank">MudBlazor</MudLink> @_localizer["Component Library"].
            </MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <div class="pa-4 justify-center my-4 mud-text-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://github.com/blazorhero/CleanArchitecture">@_localizer["Project Page"]</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="https://www.buymeacoffee.com/codewithmukesh" Target="_blank">@_localizer["Support Me"]</MudButton>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>