@page "/register"
@layout MainLayout
@attribute [AllowAnonymous]

<EditForm Model="@registerUserModel" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@CustomIcons.BlazorHero" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 100px; height: 100px;" />
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">@localizer["Register"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText>@localizer["Already have an account?"] <MudLink Href="/login">@localizer["Sign In"]</MudLink></MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField For="@(() => registerUserModel.UserName)" @bind-Value="registerUserModel.UserName" Label="@localizer["User Name"]" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField For="@(() => registerUserModel.FirstName)" @bind-Value="registerUserModel.FirstName" Label="@localizer["First Name"]" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField For="@(() => registerUserModel.LastName)" @bind-Value="registerUserModel.LastName" Label="@localizer["Last Name"]" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@localizer["E-mail"]"
                          @bind-Value="registerUserModel.Email" For="@(() => registerUserModel.Email)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField For="@(() => registerUserModel.Password)" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" @bind-Value="registerUserModel.Password" Label="@localizer["Password"]" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField For="@(() => registerUserModel.ConfirmPassword)" InputType="InputType.Password" @bind-Value="registerUserModel.ConfirmPassword" Label="@localizer["Confirm Password"]" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@(!validated)" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">@localizer["Register"]</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>