@page "/account/reset-password/"
@layout MainLayout
@attribute [AllowAnonymous]

<EditForm Model="@resetPasswordModel" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@CustomIcons.BlazorHero" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 100px; height: 100px;" />
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">@localizer["Reset password"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.subtitle2" Class="mb-n4">@localizer["Enter email for password reset"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@localizer["E-mail"]" @bind-Value="resetPasswordModel.Email" For="@(() => resetPasswordModel.Email)" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@localizer["Password"]" @bind-Value="resetPasswordModel.Password" For="@(() => resetPasswordModel.Password)" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@localizer["Confirm Password"]" @bind-Value="resetPasswordModel.ConfirmPassword" For="@(() => resetPasswordModel.ConfirmPassword)" Variant="Variant.Outlined" InputType="InputType.Password"/>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton Variant="Variant.Filled" Disabled="@(!validated)" Color="Color.Primary" ButtonType="ButtonType.Submit" Size="Size.Large" FullWidth="true">@localizer["Reset Password"]</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>