@page "/identity/role-permissions/{Id}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<RolePermissions> localizer
<HeroTitle Title="@localizer["Manage Permission"]" Description="@Description" />

@if (model == null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Hover="true" Elevation="25" Items="@model.RoleClaims">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="SaveAsync" ButtonType="ButtonType.Submit">@localizer["Update Role Permissions"]</MudButton>
            </div>
            <MudToolBarSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>@localizer["Type"]</MudTh>
            <MudTh>@localizer["Role Name"]</MudTh>
            <MudTh>@localizer["Status"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Type">@context.Type</MudTd>
            <MudTd DataLabel="Permissions">@context.Value</MudTd>
            <MudTd DataLabel="Status"><MudCheckBox @bind-Checked="@context.Selected" Color="Color.Secondary" /></MudTd>
        </RowTemplate>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}