@page "/user-profile/{Id}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<UserProfile> localizer
<HeroTitle Title="@Title" Description="@Description" />
<MudGrid>
    <AuthorizeView Roles="Administrator">
        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Administrator Settings.</MudText>
                        <MudText Typo="Typo.body2">This is an Administrator Only View.</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="pa-46" Style="padding:26px!important">
                    <MudGrid>
                        <MudCheckBox @bind-Checked="@Active" Label="Active?" Color="Color.Primary"></MudCheckBox>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="ToggleUserStatus" ButtonType="ButtonType.Submit">Save Changes</MudButton>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </AuthorizeView>
    <MudItem xs="12" sm="4" md="3">
        <MudCard Elevation="25">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Profile</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center mb-4">
                    <MudAvatar Size="Size.Large" Color="Color.Secondary">@FirstLetterOfName</MudAvatar>
                </div>
                <MudText Align="Align.Center">@FirstName @LastName</MudText>
                <MudText Align="Align.Center">@Email</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="8" md="9">
        <MudCard Elevation="25">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Public Profile</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudField Label="First Name" Variant="Variant.Text">@FirstName</MudField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudField Label="Last Name" Variant="Variant.Text">@LastName</MudField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudField Label="Phone Number" Variant="Variant.Text">@PhoneNumber</MudField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudField Label="Email" Variant="Variant.Text">@Email</MudField>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>